.thumbnail{
	border-radius: 7px;
	box-shadow: 0 0 10px #000;
}
.thumbnail img{
	border-radius: 7px;
	width: 100%;
	height: 300px;
}
.thumbnail .caption-full{
	padding-top: 7px;
}
.delete{
	display : inline;
}
.name{
	color: blue;
}

body{
	background: white; 
}
.navbar .navbar-brand{
	font-weight: bold;
	color: black;
}
.navbar .navbar-brand:hover{
	color: #303030;
}
.navbar{
	background: #EEEEEE;
	border : none;
	border-radius: 0;
}
.navbar .header a{
	color: white;
}
.navbar .collapse ul li a{
	color: black;
}
.navbar .collapse ul li a:hover{
	color: #202020;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}
.container div .buttons{
	display:grid;
	grid-auto-flow : column;
}
.container .buttons .add{
	margin-right: 10px;
}
.container .allForm{
	width:35%; 
	margin: 25px auto;
}
.container .login{
	width:25%; 
	margin: 25px auto;
}
@media (max-width: 700px) {
    .container .allForm{
		width: 90%;
		margin: 25px auto;
    }
	.container .login{
		width:60%; 
		margin: 25px auto;
	}
}